*{
    margin: 0;
    padding:0;
}
.collapse .navbar-right{
    margin-right: 55px;
}
.navbar-header button.navbar-toggle{
    margin-top: 22px;
    border-color: #2dae36;
    margin-right: 85px;
}
.navbar-default .navbar-toggle span.icon-bar{
    background: #2dae36;
}
.navbar-default button.navbar-toggle:hover {
    background-color: #2dae36;
    border-color:white;
}
.navbar-default .navbar-toggle:hover span.icon-bar {
    background-color: white;
}
nav.navbar{
    box-sizing: border-box;
    border:none;
    background-color:white;
}
.navbar-default .navbar-collapse{
    padding-top: 6px;

}
@media (max-width: 768px){
.navbar-header .navbar-brand {
        width: 80px;
        background: url(https://chengbenchao.gitee.io/muxi/images/logo1.png) center no-repeat;
        background-size: contain;
        height: 80px;
        padding: 8px;
        margin-left: 70px;
    }
}
@media (min-width: 769px){
    .navbar-header .navbar-brand {
        width: 280px;
        background: url(https://chengbenchao.gitee.io/muxi/images/logo0.png) center no-repeat;
        height: 80px;
        padding: 8px;
        margin-left: 100px;
    }
}
ul.nav>li>a{
    line-height: 73.5px;
    padding: 0;
    box-sizing: border-box;
}
.navbar-right .firstpage{
    box-sizing: border-box;
    width: 40px;
    box-sizing: border-box;
  
}
.navbar-right a{
    box-sizing: border-box;
    padding: 0;
    width: 70px;
    margin-right: 0px;
    text-align: center;
}
.navbar-right a:hover {
     box-sizing: border-box;
     border-bottom: 1px solid #2dae36;
     color: #2dae36 !important;
}
.underline{
     border-bottom: 1px solid #2dae36;
     color: #2dae36 !important;
}

/* 点击换图片 start */
.home_banner{
    border:none;
    margin-top:-19px ;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.home_banner img {
      width: 100%;
      height: 100%;
}
.home_banner .carousel-control{
	background-image: none;
}
.home_banner .carousel-indicators{
	bottom: 0px;
}
.home_banner .carousel-indicators .active{
	background: #2dae36;
}
.home_banner .carousel .carousel-control .glyphicon{
	display:block;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(50%,50%);
}

/* 点击换图片 end */
.container{
    width: 85%;
    /* padding-left: 15%;
    padding-right: 15%; */
    margin-left: auto;
    margin-right: auto;
   
}
@media(min-width:992px){
    .child-icon img{
        width: 60px;
        height: 60px;
        text-align: center; 
    }
}
.child{
    width: 100%;
    margin-left: auto;
    margin-right:auto ;
    text-align: center;
    padding-left: 40px;
    margin-bottom:50px ;
}

.row .col-md-3{ 
    margin-left: auto;
    margin-right:auto ;
}
.child p{
    color: #666;
    margin-left: auto;
    margin-right: auto;
}
.child .title{
    font-size: 24px;
    color: #2dae36;
   
}
.project{
    width: 92%;
    text-align: center;
    margin-left:auto ;
    margin-right: auto;
}
.project-show p{
    width: 120px;
    height: 42px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 42px;
    background-color: #2dae36;
    border-radius: 16px 0 16px 0;
}

.project-show{
    height: 42px;
    box-sizing: border-box;
    border-bottom: 1px solid #2dae36;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top:50px ; */
}
.product-list .row>div{
	position: relative;
	padding:15px;
	box-sizing: border-box;
}
.product-list .row img{
	width: 100%;
}
.footer{
    overflow: hidden;
    padding: 20px;
    margin-top: 50px;
    background-color: #ddd;
    color: #666;
}
.footer .footer-logo img{
    width: 100px;
}
.footer .footer-logo{
    margin-bottom: 16px;
}
.footer .mx-center{
    margin-left: auto;
    margin-right: auto;
}
.footer .mx-width{
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}
.footer .changepage{
    padding-top: 20px;
}
.footer a {
    color: #777;
    text-align: center;
    text-decoration: none !important;
}
.footer .changepage a:hover{
    color: #2dae36;

}
.footer .copyright {
    font-size: 12px;
    line-height: 2.4em;
    text-align: center;
}
.footer .contact {
    font-size: 10px;
    line-height: 1.6em;
    /* text-align: center; */
    
}
@media (max-width: 768px){
    .footer .copyright {
        text-align: left;
    }
    .footer .changepage div{
       margin-bottom: 8px;
    }
    .footer .changepage:first-child{
        margin-top: -20px;
     }
}

/* 关于公司 */
.aboutus .aboutus-content {
    padding-top: 30px;
    padding-bottom: 10px;
}
.aboutus .aboutus-content .tips {
    /* width: 90%; */
    color: #2dae36;
}
.aboutus .aboutus-content p {
    color: #666;
    line-height: 1.6em;
    text-indent: 2em;  
    margin-left: 10px;
}
.aboutus-content .container-fluid .mx-position{
    margin-bottom: 20px;
}
/* 底部和文字重合
 @media (max-width: 768px){
    .aboutus-content .container-fluid{
       clear: both;
        width: 476px;
        height: 400px;
    }
}
@media (min-width: 993px){
    .aboutus-content .container-fluid .mx-position{
        height: 400px;
    }
    
}
@media (max-width: 992px){
    .aboutus-content .container-fluid .mx-position{
        height: 400px;
        margin-bottom: 20px;
    }
} */
.aboutus{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.mx-position{
    overflow: hidden;
    position: relative;
    text-align: left;
    height: 400px;
}